<div class="container">
  <div class="responsive">
    <form>
      <fieldset>
    <div class="card text-center" >
      <div class="card-header">
        <label>Login</label>
      </div>
        <div class="card-body">
          <div class="label-control">
            <label>Email</label>
          </div>
          <input
            type="text"
            name="email"
            class="form-control"
            [(ngModel)]="email"
          />
          <div class="label-control">
            <label>Password</label>
          </div>
          <input
            type="password"
            name="password"
            class="form-control"
            [(ngModel)]="password"
          />
        </div>
        <div class="card-footer">
          <a [routerLink]="['/register']"> Criar conta</a>
          <button
            type="submit"
            class="btn btn-secondary"
            (click)="auth.emailSignin(this.email, this.password)">
            Enviar
          </button>
          <button

            class="btn btn-secondary"
            (click)="auth.googleSignin()">
            Google Login
          </button>
        </div>
      <div *ngIf="auth.error" style="color: red">{{ auth.error }}</div>
    </div>
    <div *ngIf="auth.user">
      Logged as <b>{{ auth.user.email }}</b>
      <button  class="btn btn-secondary" (click)="auth.signOut()" >Logout</button>
    </div>
  </fieldset>
</form>
  </div>
</div>
