<div class="todo-container">
  <header>
    <h1>Agenda</h1>
  </header>
  <form id="todo-form">
    <p>Adicione a tarefa</p>
    <div class="form-control">
      <div class="filter">
        <h4>Mapa:</h4>
        <select id="filter-select">
          <option value="cruzamento">Cruzamento</option>
          <option value="fcarvalho">Floresta de Carvalho</option>
          <option value="pbauxita">Pedreira de Bauxita</option>
          <option value="devorador">Devorador</option>
          <option value="mineiro">Mineiro</option>
        </select>
      </div>
      <div class="input-control">
        <input
          type="text"
          id="names-input"
          placeholder="Informe os nomes dos participantes"
        />
        <button type="submit">
          <mat-icon>send</mat-icon>
        </button>
      </div>
      <div class="input-control">
        <input
          type="text"
          id="requirements-input"
          placeholder="Informe os requisitos para a missão"
        />
        <button type="submit">
          <mat-icon>send</mat-icon>
        </button>
      </div>

      <div class="input-control">
        <input
          type="text"
          id="obs-input"
          placeholder="Comentários adicionais"
        />
        <button type="submit">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </form>
  <form id="edit-form" class="hide">
    <p>Edite a tarefa</p>
    <div class="form-control">
      <div class="input-control">
        <input type="text" id="edit-input" />
        <button type="submit">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
    <button id="cancel-edit-btn">Cancelar</button>
  </form>
  <div id="toolbar">
    <div id="search">
      <h4>Pesquisar:</h4>
      <form>
        <div class="input-control">
          <input type="text" id="search-input" placeholder="Buscar" />
          <button id="erase-button">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </form>
    </div>
    <div class="filter">
      <h4>Filtrar:</h4>
      <select id="filter-select">
        <option value="all">Todos</option>
        <option value="done">Feitos</option>
        <option value="todo">A fazer</option>
      </select>
    </div>
  </div>
  <div id="todo-list">
    <!-- exemplo -->
    <div class="todo done">
      <h3>Cruzamento 3x players</h3>
      <button class="finish-todo">
        <mat-icon>check_circle_outline</mat-icon>
      </button>
      <button class="edit-todo">
        <mat-icon>edit</mat-icon>
      </button>
      <button class="remove-todo">
        <mat-icon>remove_circle_outline</mat-icon>
      </button>
    </div>
    <div class="todo">
      <h3>Cruzamento 3x players</h3>
      <button class="finish-todo">
        <mat-icon>check_circle_outline</mat-icon>
      </button>
      <button class="edit-todo">
        <mat-icon>edit</mat-icon>
      </button>
      <button class="remove-todo">
        <mat-icon>remove_circle_outline</mat-icon>
      </button>
    </div>
  </div>
</div>
