<div class="container">
  <div class="responsive">
    <form>
      <div class="form-group">
        <label>Mapa:</label>
        <select class="form-control" name="map" [(ngModel)]="dataTask.map">
          <option>Cruzamento</option>
          <option>Floresta Vermelha</option>
          <option>Pedreira de Bauxita</option>
          <option>Container</option>
          <option>Minas Abandonadas</option>
        </select>
      </div>

      <div class="form-group">
        <label>Jogadores:</label>
        <input type="text" name="player1" [(ngModel)]="dataTask.player1" />
        <input type="text" name="player2" [(ngModel)]="dataTask.player2" />
        <input type="text" name="player3" [(ngModel)]="dataTask.player3" />
      </div>

      <div class="form-group">
        <label>Requerimentos:</label>
        <input
          type="text"
          name="requirement1"
          [(ngModel)]="dataTask.requirement1"
        />
        <input
          type="text"
          name="requirement2"
          [(ngModel)]="dataTask.requirement2"
        />
        <input
          type="text"
          name="requirement3"
          [(ngModel)]="dataTask.requirement3"
        />
      </div>

      <div class="form-group">
        <label>Data e Horário:</label>
        <input type="text" name="date" [(ngModel)]="dataTask.date" />
      </div>
      <button mat-button="raised" color="accent" type="submit" (click)="post()">
        Salvar
      </button>
    </form>
  </div>
</div>
