td button {
  margin: 0.5rem 0.5rem;
  width: 4.9rem;
}

.button-panel {

  padding-top: 10px
}

td,
th {
  padding: 9px 2.5rem;
}

#buttonAddTask {
  margin-top: 10px;
  color: #fff !important;
  background-color: #424242;
}

#createButton {
margin: 0.5rem 0;
}
